<%- include('partials/header') -%>
    
    <main> 
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
            <video autoplay muted loop playinline class="bg-video">
                <source src="/imgs/index.mp4" type="video/mp4" />
            </video>
            
            <div class="col-md-6 p-lg-5 mx-auto my-5 z-1"> 
                <h1 class="display-3 fw-bold text-white">Buying and Selling</h1>
                <h3 class="fw-normal mb-3 text-white">We are here for everyone</h3> 
                <div class="d-flex gap-3 justify-content-center lead fw-normal text-white"> 
                    <a class="icon-link" href="/signup">sign up today<svg class="bi" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg></a>
                </div> 
            </div>
        </div>
        <!-- list of products we will have this as a random products highlighted on the page from sellers -->

        <div class="row w-100 my-md-3 ps-md-3">
            <!-- This is where a for statment will populdate 3 random items for the homepage -->
            <% for(let i = 0; i < product.length; i++){ %>
                <div class="col-md-4 mb-3">
                    <a href="/product/<%= product[i]._id%>">
                        <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"> 
                            <div class="my-3 p-3"> 
                                <h4 class="display-5 text-wrap fs-4 fw-bold"><%= product[i].product %></h4> 
                            </div> 
                            <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; overflow: hidden;">
                                <img src="<%= product[i].image %>" alt="<%= product[i].product %>" style="width: 100%; height: 100%; object-fit: cover;">
                            </div>
                            <div class="my-3 p-3"> 
                                <p class="lead fs-6">Price: $<%= product[i].price %></p>
                            </div>
                        </div>
                    </a>
                </div>
            <% } %>
 
        </div> 

    </main>
<%- include('partials/footer') -%>