<%- include('partials/headerloggedin') -%>
    <main> 

        <section id="add-item-modal">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProductModal">
                Add New Product
            </button>
        
            <!-- Modal -->
            <div class="modal fade" id="addProductModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content rounded-4 shadow">
                        <div class="modal-header p-4 border-bottom-0">
                            <h1 class="fw-bold mb-0 fs-4" id="addProductModalLabel">Add a New Product</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body p-4 pt-0">
                            <form class="row g-3" action="/createProduct" method="POST">
                                <div class="col-12">
                                    <label for="product" class="form-label">Product Name</label>
                                    <input type="text" class="form-control" id="product" name="product">
                                </div>
                                <div class="col-12">
                                    <label for="description" class="form-label">Product Description</label>
                                    <textarea class="form-control" rows="3" name="description" id="description"></textarea>
                                </div>
                                <div class="col-12">
                                    <label for="image" class="form-label">Product Image URL</label>
                                    <input type="text" class="form-control" id="image" name="image">
                                </div>
                                <div class="col-md-6">
                                    <label for="quantity" class="form-label">Quantity</label>
                                    <input type="number" class="form-control" id="quantity" name="quantity">
                                </div>
                                <div class="col-md-6">
                                    <label for="price" class="form-label">Price</label>
                                    <input type="number" step="0.01" class="form-control" id="price" name="price" placeholder="$0.00">
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-success">Add Product</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="gallery">
            <div class="row w-100 my-md-3 ps-md-3">
                <% for(let i = 0; i < product.length; i++){ %>
                    
                        <div class="col-md-4 mb-3">
                            <a href="/product/<%= product[i]._id%>">
                                <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"> 
                                    <div class="my-3 p-3"> 
                                        <h4 class="display-5 text-wrap fs-4 fw-bold"><%= product[i].product %></h4> 
                                    </div> 
                                    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; overflow: hidden;">
                                        <img src="<%= product[i].image %>" alt="<%= product[i].product %>" style="width: 100%; height: 100%; object-fit: cover;">
                                    </div>
                                    <div class="my-3 p-3"> 
                                        <p class="lead fs-6">Price: $<%= product[i].price %></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                <% } %>
            </div>
        </section>
        

    </main>
<%- include('partials/footer') -%>