<%- include('partials/header') -%>
    <main> 
        <div class="row w-100 my-md-3 ps-md-3">
            <h2>Hi, <%= user.firstName %>!</h2>
            <p>Today we have products from:</p>
            <ul>
                <li>
                    <a href="/shop" class="<%= selectedCompany === "All"  ? 'selected-company': '' %>">
                        All
                    </a> 
                </li>
                <% companyNames.forEach(name => { %>
                    <li>
                        <a 
                            href="/shop/<%= name %>"
                            class="<%= selectedCompany === name  ? 'selected-company': '' %>"
                            >
                            <%= name %>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </div>
        
        <section id="gallery">
            <div class="row w-100 my-md-3 ps-md-3">
                <% for(let i = 0; i < product.length; i++){ %>
                    
                        <div class="col-md-4 mb-3">
                            <a href="/product/<%= product[i]._id%>">
                                <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden"> 
                                    <div class="my-3 p-3"> 
                                        <h4 class="display-5 text-wrap fs-4 fw-bold"><%= product[i].product %></h4> 
                                    </div> 
                                    <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0; overflow: hidden;">
                                        <img src="<%= product[i].image %>" alt="<%= product[i].product %>" style="width: 100%; height: 100%; object-fit: cover;">
                                    </div>
                                    <div class="my-3 p-3"> 
                                        <p class="lead fs-6">Price: $<%= product[i].price %></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                <% } %>
            </div>
        </section>

    </main>
<%- include('partials/footer') -%>